<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/homePageStyle.css" />
    <link rel="stylesheet" href="~/css/sellPageStyle.css" />
    <link rel="stylesheet" href="~/css/buyPageStyle.css" />
    <link rel="stylesheet" href="~/css/updatePageStyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>

    <header>
        <div class="logo">
            <img class="logo-img" src="~/images/logo/logo.png"/> 
            <h1>AkiYa</h1>
        </div>
        <div class="nav">
            <div class="items item1"><a href="/home/index" >Home</a></div>
            <div class="items item2"><a href="home/" >About us</a></div>
            <div class="items item3"><a href="home/" >Buy</a></div>
            <div class="items item4"><a href="/home/sell" >Sell</a></div>
            <div class="items item5"><a href="/home/rent" >Rent</a></div>
        </div>

        <div class="nav">
             <div class="items item6"><a href="#">Sign in</a></div>
             <div class="items item7"><a href="#">Sign up</a></div>
        </div>
    </header>

    <main>
             @RenderBody()
    </main>

    <footer>
        <div class="footer-one">
            <div class="footers f1">
                <h1>Akiya</h1>
                <p>A108 Adam Street <br /> NY 535022, USA</p>
                <p><strong>Phone: </strong>+155895548855 <br /> <strong>Email: </strong>kalabdereje20gmail.com</p>
                <div> 
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="footers f2">
                <h1>Useful Links</h1>    
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Home</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> About Us</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Services</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Terms of service</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Privacy policy</i>
            </div>
            <div class="footers f3">
                <h1>Our Services</h1>    
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Real Estate</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Rentals</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Mortgage Rates</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> Zestimates</i>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"> other</i>
            </div>
           
            
        </div>
        <div class="footer-two">
            <p><i class="fa fa-copyright" aria-hidden="true"> Copyright Akiya. All Rights Reserved </i></p>
            <p><i>. Designed by Akiya Team</i></p> 
        </div>
    </footer>
   
</body>
</html>
