<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <div class="logo">Brand name & Logo;   </div>
        <div class="nav">
            <div class="items item1">Buy</div>
            <div class="items item2">Sell</div>
            <div class="items item3">Rent</div>
            <div class="items item4">Log in</div>
            <div class="items item5">Sign up</div>
        </div>
    </header>

    <main>
             @RenderBody()
    </main>

    <footer>
        <h1>Footer section</h1>
    </footer>
   
</body>
</html>
