
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}


<div class="home-main">
    <input type="text" placeholder="Enter an address, city ,or zip code" /> <img class="search" src="~/images/search.png" />
</div>

<div class="home-main-two">
    <div class="lists list1">
        <img src="~/images/buy.png" />
        <h1>Buy a home</h1>
        <p>Akiya makes it easy to browse homes. When you’re ready, you can also connect with a local agent, explore financing solutions, schedule home tours, and more.</p>
        <button>Search homes</button>
    </div>
    <div class="lists list2">
          <img src="~/images/sell.png" />
          <h1>Sell a home</h1>
          <p> Akiya makes it easy to take steps to find the right loan, so you can get the home you want.</p>
          <button>Start now</button>
    </div>
    <div class="lists list3">
         <img src="~/images/rent.png" />
         <h1>Rent a home</h1>
         <p>We’re creating a seamless online experience – from shopping on the largest rental network, to applying, to paying rent.</p>
         <button>Find rentals</button>
    </div>
</div>