body .home-main {
    background-image: url("../images/main-page-img.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
}

    body .home-main form{
        width: 50%;
       
    }
    body .home-main form  input {
        padding: 20px;
        width: 100%;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 400;
        border: none
    }

    body .home-main form  input:focus {
        background-color: lightcyan;
    }

    body .home-main form .search {
        position: relative;
        top:-45px;
        left: 650px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent
    }

        body .home-main form .search img {
            width: 30px;
            height: 30px
        }

        body .home-main form .search:hover {
            cursor: pointer
        }

body .home-main-two{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding:50px 50px;
   
}

    body .home-main-two .lists {
        box-sizing: border-box;
        width: 30%;
        height: 500px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        transition: 0.2s;
    }

    body .home-main-two .list1:hover,
    body .home-main-two .list2:hover,
    body .home-main-two .list3:hover {
        box-shadow: 0 0 12px gray;
        cursor: pointer
    }


    body .home-main-two .lists img{
        width: 80%;
        height: 40%;
     
    }

    body .home-main-two .lists p{
        font-size: 18px;
        font-weight: 400;
    }

    body .home-main-two .lists a {
        text-decoration:none;
        color:black;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #2F7D4F;
        font-size:18px;
        margin-top: 20px;
    }

    body .home-main-two .lists a:hover {
        cursor: pointer;
        background-color: #2F7D4F;
        color: white;
    }