:root {
    --text-color1: black;
    --text-color2: white;
    --bg-color1: #2F7D4F;
    --bg-hover: #284A35;
}

*{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 0.7em;
}

    ::-webkit-scrollbar-track {
        background: rgb(238, 229, 229);
        border-radius: 100vh;
        margin-block: 0.2em;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--bg-color1);
        border-radius: 100vh;
        border: 0.2em solid rgb(238, 229, 229);
    }


body header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    color: var(--text-color1);
}

    body header .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    body header .logo:hover{
        cursor:pointer
    }

    body header .logo h1 {
        font-family: 'Dancing Script', cursive;
        font-size:40px;
        font-weight: bold;
        letter-spacing:2px;
        
       
    }

    body header .logo .logo-img{
       
        height:50px;
        width: 140px;
        margin-right: 20px;
    }

    body header .nav{
        display: flex;
        align-items: center;
    }

    body header .nav .items{
        padding:10px 15px;
        margin-inline: 5px;
        border-bottom:3px solid transparent;
    }

    body header .nav .items:hover {
        cursor: pointer;
        border-bottom: 3px solid var(--bg-color1);
    }

    body header .nav .item7:hover {
            cursor: pointer;
            border: none;
            background-color: var(--bg-hover);
    }

    body header .nav .item7 {
       background:var(--bg-color1);
       border-radius: 5px;
       border: none;
      
    }

    
    body header .nav .items a {     
            text-decoration: none;
            color: var(--text-color1);
    }

    body header .nav .item7 a {
            color: var(--text-color2);
    }



/*footer style*/


footer, footer .footer-one .footers {
    display: flex;
    flex-direction: column;

}

    footer .footer-one, footer .footer-two {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #6E947E;
        width: 100%
    }

    footer .footer-one .footers{
       
       
        margin: 80px;
        margin-inline:100px;

        gap: 20px;
       
    }
    footer .footer-one .footers div{
        display: flex;
        justify-content: space-between;
        font-size:30px;

    }
    footer .footer-one .footers  p{
        font-size: 17px
    }

    footer .footer-two {
        background: #627059;
        width: 100%;
        color: white
    }


body .modal {
    position:fixed;
    width:100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    top:0;
    
    
}

body .modal .login ,
body .modal .sign-up{
    display: none;
    height: 80%;
    width:25%;
    background:white;
    border-radius: 5px;
    padding: 30px;
 
}
body .modal .login .intro,
body .modal .sign-up .intro{
    text-align: center
}


body .modal .login a,
body .modal .sign-up a{
    position:relative;
    left: 96%
}

body .modal .login a:hover,
body .modal .sign-up a:hover{
    cursor: pointer
}


body .modal .login form,
body .modal .sign-up form{
    display: flex;
    flex-direction: column;
   
}

body .modal .login form input,
body .modal .sign-up form input{
    display: block;
    margin-block:20px;
    padding: 10px;
    font-weight: 100;
    font-size: 16px
}


body .modal .login form button,
body .modal .sign-up form button{
    padding: 10px;
    margin-block: 20px
    }

body .modal .login form button:hover,
body .modal .sign-up form button:hover{
    cursor: pointer;
}

#profile {
    font-size: 35px;
    margin-right: 25px
}

body .profile-option{

    position: absolute;
    right: 120px;
    top: 80px;
    width: 100px;
    height: 100px;
    background-color:  lightgray;
    border-radius: 5px;
    text-align:center;
    padding-top: 20px;
    display: none;
}